
  <a [routerLink]="['/profile', article.author.username]">
    <img height= "200" [src]="article.author.image" class="rounded-circle"

    [alt]="article.title"
    style="width: 100% !important;border-radius: 100%;" />
  </a>

  <div class="info">
    <a class="author"
      [routerLink]="['/profile', article.author.username]">
      {{ article.author.username }}
    </a>
    <span class="date">
      {{ article.createdAt | date: 'longDate' }}
    </span>
  </div>

  <ng-content></ng-content>

